.commonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10PX;
    /* max-width: max-content; */
    width: 336PX;
    padding: 0 0 10PX 0;
    margin: 0 auto;
}
.yellowSection{
    background-color:#FFDC40;
    border-top-left-radius: 10PX;
    border-top-right-radius: 10PX;
    height: 20px;
    width: 100%;
    
}
.inputSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sortIcon{
    width: 100%;
    margin-bottom: 20PX;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.inCycle{
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.inCycle:hover {
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    cursor: pointer;
}
.inCycle:hover i{
    color: white;
}
 i{
    color: grey;
    z-index: 2;
    font-size: 10px;
}
input{
    border: 0PX;
    /* height: 40px;
    width: 286px; */
}
input:focus-visible{
    border: 0px !important;
    outline: 0px;
}
.input{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    width: 286px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    padding: 3px 6px;

}
.dobavit{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: blueviolet;
    border-radius: 20px;
    width: 150px;
    height: 42px;
    align-items: center;
    transition-duration: 0.3s;
}
.dobavit:hover{
    cursor: pointer;
    box-shadow: -1px 9px 18px -5px blueviolet;
    transition-duration: 0.3s;
}
.pilusIcon{
    background-color: grey;
    opacity: 0.5;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.sortIcon i:hover{
    color: black;
    cursor: pointer;
}
.siyahi{
    border: 1px solid grey;
    border-radius: 10px;
    width: 286px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.siyahi div{
    /* height: 25px; */
    margin-left: 17px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.newItem{
    display: flex;
    justify-content: space-between;
    overflow-wrap:anywhere;
}
.dobavit:hover .pilusIcon i{
    transition-duration: 0.5s;
    transform: rotate(90deg);
}
.dobavit .pilusIcon i{
    transition-duration: 0.5s;
}